In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
df1=pd.read_excel('/Users/aakanksha/My_Codes/Credit modeling /Dataset/bank_dataset_(internal).xlsx')
df2=pd.read_excel('/Users/aakanksha/My_Codes/Credit modeling /Dataset/cibil_dataset_(external).xlsx')

In [3]:
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,...,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,...,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,...,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,...,0,0,0,0,0,3,0,2,131,32

In [4]:
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,...,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

### Removing null values '-99999'

In [5]:
df1=df1[~(df1["Age_Oldest_TL"]==-99999)]

In [6]:
df1.shape

(51296, 26)

In [7]:
col_to_drop=[]
for i in df2.columns:
#     print(df2[df2[i]==-99999].shape[0])
    if(df2[df2[i]==-99999].shape[0])>10000:
        col_to_drop.append(i)
        print(i)

time_since_first_deliquency
time_since_recent_deliquency
max_delinquency_level
max_deliq_6mts
max_deliq_12mts
CC_utilization
PL_utilization
max_unsec_exposure_inPct

In [8]:
df2.drop(columns=col_to_drop,inplace=True)

In [9]:
df2.shape

(51336, 54)

In [10]:
for i in df2.columns:
    print(df2[df2[i]==-99999].shape[0])
    df2=df2[~(df2[i]==-99999)]

0
4291
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
4944
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
35
0
0
0
0
0
0
0
0
0
0
0
0

In [11]:
df2.isnull().sum()

PROSPECTID                    0
time_since_recent_payment     0
num_times_delinquent          0
max_recent_level_of_deliq     0
num_deliq_6mts                0
num_deliq_12mts               0
num_deliq_6_12mts             0
num_times_30p_dpd             0
num_times_60p_dpd             0
num_std                       0
num_std_6mts                  0
num_std_12mts                 0
num_sub                       0
num_sub_6mts                  0
num_sub_12mts                 0
num_dbt                       0
num_dbt_6mts                  0
num_dbt_12mts                 0
num_lss                       0
num_lss_6mts                  0
num_lss_12mts                 0
recent_level_of_deliq         0
tot_enq                       0
CC_enq                        0
CC_enq_L6m                    0
CC_enq_L12m                   0
PL_enq                        0
PL_enq_L6m                    0
PL_enq_L12m                   0
time_since_recent_enq         0
enq_L12m                      0
enq_L6m                       0
enq_L3m                       0
MARITALSTATUS                 0
EDUCATION                     0
AGE                           0
GENDER                        0
NETMONTHLYINCOME              0
Time_With_Curr_Empr           0
pct_of_active_TLs_ever        0
pct_opened_TLs_L6m_of_L12m    0
pct_currentBal_all_TL         0
CC_Flag                       0
PL_Flag                       0
pct_PL_enq_L6m_of_L12m        0
pct_CC_enq_L6m_of_L12m        0
pct_PL_enq_L6m_of_ever        0
pct_CC_enq_L6m_of_ever        0
HL_Flag                       0
GL_Flag                       0
last_prod_enq2                0
first_prod_enq2               0
Credit_Score                  0
Approved_Flag                 0
dtype: int64

In [12]:
df1.isnull().sum()

PROSPECTID              0
Total_TL                0
Tot_Closed_TL           0
Tot_Active_TL           0
Total_TL_opened_L6M     0
Tot_TL_closed_L6M       0
pct_tl_open_L6M         0
pct_tl_closed_L6M       0
pct_active_tl           0
pct_closed_tl           0
Total_TL_opened_L12M    0
Tot_TL_closed_L12M      0
pct_tl_open_L12M        0
pct_tl_closed_L12M      0
Tot_Missed_Pmnt         0
Auto_TL                 0
CC_TL                   0
Consumer_TL             0
Gold_TL                 0
Home_TL                 0
PL_TL                   0
Secured_TL              0
Unsecured_TL            0
Other_TL                0
Age_Oldest_TL           0
Age_Newest_TL           0
dtype: int64

In [13]:
df=pd.merge(df1,df2,how='inner',left_on='PROSPECTID',right_on='PROSPECTID')

In [14]:
df.head(2)

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,5,4,1,0,0,0.0,0.0,0.2,0.8,...,0.0,0.0,0.0,0.0,1,0,PL,PL,696,P2
1,2,1,0,1,0,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2

In [15]:
df.duplicated().sum()

0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42064 entries, 0 to 42063
Data columns (total 79 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROSPECTID                  42064 non-null  int64
 1   Total_TL                    42064 non-null  int64
 2   Tot_Closed_TL               42064 non-null  int64
 3   Tot_Active_TL               42064 non-null  int64
 4   Total_TL_opened_L6M         42064 non-null  int64
 5   Tot_TL_closed_L6M           42064 non-null  int64
 6   pct_tl_open_L6M             42064 non-null  float64
 7   pct_tl_closed_L6M           42064 non-null  float64
 8   pct_active_tl               42064 non-null  float64
 9   pct_closed_tl               42064 non-null  float64
 10  Total_TL_opened_L12M        42064 non-null  int64
 11  Tot_TL_closed_L12M          42064 non-null  int64
 12  pct_tl_open_L12M            42064 non-null  float64
 13  pct_tl_closed_L12M          42064 non-null  float64
 14  Tot_Missed_Pmnt             42064 non-null  int64
 15  Auto_TL                     42064 non-null  int64
 16  CC_TL                       42064 non-null  int64
 17  Consumer_TL                 42064 non-null  int64
 18  Gold_TL                     42064 non-null  int64
 19  Home_TL                     42064 non-null  int64
 20  PL_TL                       42064 non-null  int64
 21  Secured_TL                  42064 non-null  int64
 22  Unsecured_TL                42064 non-null  int64
 23  Other_TL                    42064 non-null  int64
 24  Age_Oldest_TL               42064 non-null  int64
 25  Age_Newest_TL               42064 non-null  int64
 26  time_since_recent_payment   42064 non-null  int64
 27  num_times_delinquent        42064 non-null  int64
 28  max_recent_level_of_deliq   42064 non-null  int64
 29  num_deliq_6mts              42064 non-null  int64
 30  num_deliq_12mts             42064 non-null  int64
 31  num_deliq_6_12mts           42064 non-null  int64
 32  num_times_30p_dpd           42064 non-null  int64
 33  num_times_60p_dpd           42064 non-null  int64
 34  num_std                     42064 non-null  int64
 35  num_std_6mts                42064 non-null  int64
 36  num_std_12mts               42064 non-null  int64
 37  num_sub                     42064 non-null  int64
 38  num_sub_6mts                42064 non-null  int64
 39  num_sub_12mts               42064 non-null  int64
 40  num_dbt                     42064 non-null  int64
 41  num_dbt_6mts                42064 non-null  int64
 42  num_dbt_12mts               42064 non-null  int64
 43  num_lss                     42064 non-null  int64
 44  num_lss_6mts                42064 non-null  int64
 45  num_lss_12mts               42064 non-null  int64
 46  recent_level_of_deliq       42064 non-null  int64
 47  tot_enq                     42064 non-null  int64
 48  CC_enq                      42064 non-null  int64
 49  CC_enq_L6m                  42064 non-null  int64
 50  CC_enq_L12m                 42064 non-null  int64
 51  PL_enq                      42064 non-null  int64
 52  PL_enq_L6m                  42064 non-null  int64
 53  PL_enq_L12m                 42064 non-null  int64
 54  time_since_recent_enq       42064 non-null  int64
 55  enq_L12m                    42064 non-null  int64
 56  enq_L6m                     42064 non-null  int64
 57  enq_L3m                     42064 non-null  int64
 58  MARITALSTATUS               42064 non-null  object
 59  EDUCATION                   42064 non-null  object
 60  AGE                         42064 non-null  int64
 61  GENDER                      42064 non-null  object
 62  NETMONTHLYINCOME            42064 non-null  int64
 63  Time_With_Curr_Empr         42064 non-null  int64
 64  pct_of_active_TLs_ever      42064 non-null  float64
 65  pct_opened_TLs_L6m_of_L12m  42064 non-null  float64
 66  pct_currentBal_all_TL       42064 non-null  float64
 67  CC_Flag                     42064 non-null  int64
 68  PL_Flag                     42064 non-null  int64
 69  pct_PL_enq_L6m_of_L12m      42064 non-null  float64
 70  pct_CC_enq_L6m_of_L12m      42064 non-null  float64
 71  pct_PL_enq_L6m_of_ever      42064 non-null  float64
 72  pct_CC_enq_L6m_of_ever      42064 non-null  float64
 73  HL_Flag                     42064 non-null  int64
 74  GL_Flag                     42064 non-null  int64
 75  last_prod_enq2              42064 non-null  object
 76  first_prod_enq2             42064 non-null  object
 77  Credit_Score                42064 non-null  int64
 78  Approved_Flag               42064 non-null  object
dtypes: float64(13), int64(60), object(6)
memory usage: 25.4+ MB

In [17]:
cat_col=df.select_dtypes("object").columns

In [18]:
num_col=df.select_dtypes("number").columns

In [19]:
len(num_col)

73

In [20]:
for i in cat_col:
    print("Unique values in: ",i)
    print(df[i].value_counts())
    print("Total Unique Values are:",df[i].nunique())
    print("*"*50)
    print()

Unique values in:  MARITALSTATUS
MARITALSTATUS
Married    30886
Single     11178
Name: count, dtype: int64
Total Unique Values are: 2
**************************************************

Unique values in:  EDUCATION
EDUCATION
GRADUATE          14140
12TH              11703
SSC                7241
UNDER GRADUATE     4572
OTHERS             2291
POST-GRADUATE      1898
PROFESSIONAL        219
Name: count, dtype: int64
Total Unique Values are: 7
**************************************************

Unique values in:  GENDER
GENDER
M    37345
F     4719
Name: count, dtype: int64
Total Unique Values are: 2
**************************************************

Unique values in:  last_prod_enq2
last_prod_enq2
ConsumerLoan    16480
others          13653
PL               7553
CC               2195
AL               1353
HL                830
Name: count, dtype: int64
Total Unique Values are: 6
**************************************************

Unique values in:  first_prod_enq2
first_prod_enq2
others          20640
ConsumerLoan    11075
PL               4431
AL               2641
CC               1988
HL               1289
Name: count, dtype: int64
Total Unique Values are: 6
**************************************************

Unique values in:  Approved_Flag
Approved_Flag
P2    25452
P3     6440
P4     5264
P1     4908
Name: count, dtype: int64
Total Unique Values are: 4
**************************************************

## In case of cat cols, we can keep all the cat cols because p_value is less than 0.05

# Chi2 Square Test for cat cols v/s cat target col

In [21]:
from scipy.stats import chi2_contingency

In [22]:
for i in cat_col[:-1]:
    chie,p_value,_,_=chi2_contingency(pd.crosstab(df[i],df[cat_col[-1]]))
    print(i," -- ",p_value)

MARITALSTATUS  --  3.578180861038862e-233
EDUCATION  --  2.6942265249737532e-30
GENDER  --  1.907936100186563e-05
last_prod_enq2  --  0.0
first_prod_enq2  --  7.84997610555419e-287

### Performing VIF test to check multicollinearity between num v/s num cols

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import warnings
warnings.filterwarnings('ignore')

In [25]:
num_col

Index(['PROSPECTID', 'Total_TL', 'Tot_Closed_TL', 'Tot_Active_TL',
       'Total_TL_opened_L6M', 'Tot_TL_closed_L6M', 'pct_tl_open_L6M',
       'pct_tl_closed_L6M', 'pct_active_tl', 'pct_closed_tl',
       'Total_TL_opened_L12M', 'Tot_TL_closed_L12M', 'pct_tl_open_L12M',
       'pct_tl_closed_L12M', 'Tot_Missed_Pmnt', 'Auto_TL', 'CC_TL',
       'Consumer_TL', 'Gold_TL', 'Home_TL', 'PL_TL', 'Secured_TL',
       'Unsecured_TL', 'Other_TL', 'Age_Oldest_TL', 'Age_Newest_TL',
       'time_since_recent_payment', 'num_times_delinquent',
       'max_recent_level_of_deliq', 'num_deliq_6mts', 'num_deliq_12mts',
       'num_deliq_6_12mts', 'num_times_30p_dpd', 'num_times_60p_dpd',
       'num_std', 'num_std_6mts', 'num_std_12mts', 'num_sub', 'num_sub_6mts',
       'num_sub_12mts', 'num_dbt', 'num_dbt_6mts', 'num_dbt_12mts', 'num_lss',
       'num_lss_6mts', 'num_lss_12mts', 'recent_level_of_deliq', 'tot_enq',
       'CC_enq', 'CC_enq_L6m', 'CC_enq_L12m', 'PL_enq', 'PL_enq_L6m',
       'PL_enq_L12m', 'time_since_recent_enq', 'enq_L12m', 'enq_L6m',
       'enq_L3m', 'AGE', 'NETMONTHLYINCOME', 'Time_With_Curr_Empr',
       'pct_of_active_TLs_ever', 'pct_opened_TLs_L6m_of_L12m',
       'pct_currentBal_all_TL', 'CC_Flag', 'PL_Flag', 'pct_PL_enq_L6m_of_L12m',
       'pct_CC_enq_L6m_of_L12m', 'pct_PL_enq_L6m_of_ever',
       'pct_CC_enq_L6m_of_ever', 'HL_Flag', 'GL_Flag', 'Credit_Score'],
      dtype='object')

In [24]:
col_to_kept=[]
vif_data=df[num_col]
columns_index=0
for i in range(num_col.shape[0]):
    var_value=variance_inflation_factor(vif_data,columns_index)
    print(i,"-----",var_value)
    
    if(var_value<=6): #keeping 6 as threshold
        col_to_kept.append(num_col[i])
        columns_index+=1
    else:
        vif_data=vif_data.drop(columns=num_col[i],axis=1)

0 ----- 1.0014714453751745
1 ----- inf
2 ----- inf
3 ----- 11.320645246142774
4 ----- 8.364064272336133
5 ----- 6.520792569522196
6 ----- 5.1498060557107515
7 ----- 2.6112073771674837
8 ----- inf
9 ----- 1789.5578922792413
10 ----- 8.601096683974664
11 ----- 3.832851362174601
12 ----- 6.0997681983366006
13 ----- 5.5814467511931385
14 ----- 1.9856551389669768
15 ----- inf
16 ----- 4.809807520859604
17 ----- 23.27288184101288
18 ----- 30.596519319624804
19 ----- 4.384812209111565
20 ----- 3.0646735624631614
21 ----- 2.8986527303139877
22 ----- 4.3779452101792256
23 ----- 2.2078562659546592
24 ----- 4.9200182258988265
25 ----- 5.215354852494438
26 ----- 3.3862072703024952
27 ----- 7.8411013961604725
28 ----- 5.255263829126236
29 ----- inf
30 ----- 7.380644570758309
31 ----- 1.4210119761829225
32 ----- 8.083354471350232
33 ----- 1.624147761927027
34 ----- 7.257891375429919
35 ----- 15.59625204166529
36 ----- 1.8261329696765447
37 ----- 1.5080847785865663
38 ----- 2.172126715951354
39 ----- 2.6234698613334406
40 ----- 2.2960054074057425
41 ----- 7.360622578279166
42 ----- 2.160238831045288
43 ----- 2.8686338012754375
44 ----- 6.458304472623003
45 ----- 2.8474808773551605
46 ----- 4.753230129394101
47 ----- 16.227613600991823
48 ----- 6.424833892811008
49 ----- 8.887156094086976
50 ----- 2.3805108983324508
51 ----- 8.609683496623754
52 ----- 13.067631026848238
53 ----- 3.5001174214770496
54 ----- 1.9091201747437845
55 ----- 17.0073868182108
56 ----- 10.73070562946678
57 ----- 2.35588750755655
58 ----- 22.104955265790476
59 ----- 2.7972535874188704
60 ----- 3.4241803843132645
61 ----- 10.175437630379774
62 ----- 6.4094402464813225
63 ----- 1.0011627214059164
64 ----- 3.0692237648454905
65 ----- 2.8091270098505103
66 ----- 20.250688538228054
67 ----- 15.864583114854613
68 ----- 1.8332179956454002
69 ----- 1.56808804702165
70 ----- 1.930879810987759
71 ----- 4.331658144114443
72 ----- 12.394142002287305

In [26]:
len(col_to_kept)

40

In [27]:
col_to_kept

['PROSPECTID',
 'pct_tl_open_L6M',
 'pct_tl_closed_L6M',
 'Tot_TL_closed_L12M',
 'pct_tl_closed_L12M',
 'Tot_Missed_Pmnt',
 'CC_TL',
 'Home_TL',
 'PL_TL',
 'Secured_TL',
 'Unsecured_TL',
 'Other_TL',
 'Age_Oldest_TL',
 'Age_Newest_TL',
 'time_since_recent_payment',
 'max_recent_level_of_deliq',
 'num_deliq_6_12mts',
 'num_times_60p_dpd',
 'num_std_12mts',
 'num_sub',
 'num_sub_6mts',
 'num_sub_12mts',
 'num_dbt',
 'num_dbt_12mts',
 'num_lss',
 'num_lss_12mts',
 'recent_level_of_deliq',
 'CC_enq_L12m',
 'PL_enq_L12m',
 'time_since_recent_enq',
 'enq_L3m',
 'NETMONTHLYINCOME',
 'Time_With_Curr_Empr',
 'pct_currentBal_all_TL',
 'CC_Flag',
 'PL_Flag',
 'pct_PL_enq_L6m_of_ever',
 'pct_CC_enq_L6m_of_ever',
 'HL_Flag',
 'GL_Flag']

## Anova Test for num cols v/s target category col

In [ ]:
from scipy.stats import f_oneway

In [ ]:
col_to_kept_remaing=[]
for i in col_to_kept:
    curr_col=df[i]
    target_col=df[cat_col[-1]]
    
    group1=[value for value,group in zip(curr_col,target_col) if group=='P1']
    group2=[value for value,group in zip(curr_col,target_col) if group=='P2']
    group3=[value for value,group in zip(curr_col,target_col) if group=='P3']
    group4=[value for value,group in zip(curr_col,target_col) if group=='P4']
    
    f_stats,p_value=f_oneway(group1,group2,group3,group4)
    print(i,"-----",p_value)
    if(p_value<0.05):
        col_to_kept_remaing.append(i)

In [ ]:
len(col_to_kept_remaing)

In [ ]:
df[col_to_kept_remaing]

In [ ]:
col_to_kept_remaing.extend(cat_col)

In [ ]:
data_frame = df[col_to_kept_remaing]
data_frame.head()

In [ ]:
data_frame.to_csv('final_data_frame.csv')