In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df_final = pd.read_csv('df_final.csv', index_col='Unnamed: 0')
df_final.sample(10)

,PROSPECTID,pct_tl_open_L6M,pct_tl_closed_L6M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,max_recent_level_of_deliq,...,PL_Flag,HL_Flag,GL_Flag,Credit_Score,MARITALSTATUS,EDUCATION,GENDER,last_prod_enq2,first_prod_enq2,Approved_Flag
10401,10410,0.000,0.5,0.00,0.50,0,52,17,193.0,28,...,0,1,0,657,Single,12TH,M,CC,others,P4
40180,40214,0.000,0.0,0.00,0.00,0,20,20,428.0,0,...,0,0,0,684,Married,12TH,M,ConsumerLoan,ConsumerLoan,P2
36655,36685,0.000,0.0,1.00,0.00,0,7,7,31.0,5,...,0,0,0,678,Single,12TH,M,others,others,P2
40270,40304,0.250,0.0,0.25,0.25,2,40,5,283.0,0,...,0,1,0,705,Married,12TH,M,PL,PL,P1
19173,19188,0.000,0.0,0.00,0.00,0,28,28,617.0,47,...,0,1,0,653,Single,12TH,M,ConsumerLoan,others,P4
37320,37351,0.333,0.0,1.00,0.00,0,10,3,43.0,0,...,0,0,0,641,Single,GRADUATE,M,ConsumerLoan,ConsumerLoan,P4
27707,27728,0.000,0.0,0.00,0.00,0,85,14,382.0,0,...,0,0,0,707,Married,12TH,M,others,others,P1
25256,25275,0.000,0.0,0.00,0.00,0,18,18,47.0,5,...,0,0,0,653,Married,GRADUATE,M,ConsumerLoan,others,P4
49942,49981,0.000,0.0,0.00,0.00,0,52,52,1106.0,0,...,0,0,0,691,Married,GRADUATE,F,ConsumerLoan,ConsumerLoan,P2
36631,36661,0.000,0.5,0.00,0.50,0,27,16,166.0,0,...,0,0,0,663,Married,GRADUATE,M,others,ConsumerLoan,P3

In [3]:

df_final.loc[df_final['EDUCATION'] == 'SSC',['EDUCATION']]              = 1
df_final.loc[df_final['EDUCATION'] == '12TH',['EDUCATION']]             = 2
df_final.loc[df_final['EDUCATION'] == 'GRADUATE',['EDUCATION']]         = 3
df_final.loc[df_final['EDUCATION'] == 'UNDER GRADUATE',['EDUCATION']]   = 3
df_final.loc[df_final['EDUCATION'] == 'POST-GRADUATE',['EDUCATION']]    = 4
df_final.loc[df_final['EDUCATION'] == 'OTHERS',['EDUCATION']]           = 1
df_final.loc[df_final['EDUCATION'] == 'PROFESSIONAL',['EDUCATION']]     = 3

In [4]:
df_final['EDUCATION'].value_counts()
df_final['EDUCATION'] = df_final['EDUCATION'].astype(int)
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42064 entries, 0 to 51295
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROSPECTID                  42064 non-null  int64
 1   pct_tl_open_L6M             42064 non-null  float64
 2   pct_tl_closed_L6M           42064 non-null  float64
 3   pct_tl_open_L12M            42064 non-null  float64
 4   pct_tl_closed_L12M          42064 non-null  float64
 5   Tot_Missed_Pmnt             42064 non-null  int64
 6   Age_Oldest_TL               42064 non-null  int64
 7   Age_Newest_TL               42064 non-null  int64
 8   time_since_recent_payment   42064 non-null  float64
 9   max_recent_level_of_deliq   42064 non-null  int64
 10  num_sub                     42064 non-null  int64
 11  num_sub_6mts                42064 non-null  int64
 12  num_sub_12mts               42064 non-null  int64
 13  num_dbt                     42064 non-null  int64
 14  num_lss                     42064 non-null  int64
 15  recent_level_of_deliq       42064 non-null  int64
 16  time_since_recent_enq       42064 non-null  float64
 17  AGE                         42064 non-null  int64
 18  NETMONTHLYINCOME            42064 non-null  int64
 19  Time_With_Curr_Empr         42064 non-null  int64
 20  pct_opened_TLs_L6m_of_L12m  42064 non-null  float64
 21  CC_Flag                     42064 non-null  int64
 22  PL_Flag                     42064 non-null  int64
 23  HL_Flag                     42064 non-null  int64
 24  GL_Flag                     42064 non-null  int64
 25  Credit_Score                42064 non-null  int64
 26  MARITALSTATUS               42064 non-null  object
 27  EDUCATION                   42064 non-null  int64
 28  GENDER                      42064 non-null  object
 29  last_prod_enq2              42064 non-null  object
 30  first_prod_enq2             42064 non-null  object
 31  Approved_Flag               42064 non-null  object
dtypes: float64(7), int64(20), object(5)
memory usage: 10.6+ MB

In [5]:
df_encoded = pd.get_dummies(df_final, columns=['MARITALSTATUS','GENDER', 'last_prod_enq2' ,'first_prod_enq2'])

In [6]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42064 entries, 0 to 51295
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PROSPECTID                    42064 non-null  int64
 1   pct_tl_open_L6M               42064 non-null  float64
 2   pct_tl_closed_L6M             42064 non-null  float64
 3   pct_tl_open_L12M              42064 non-null  float64
 4   pct_tl_closed_L12M            42064 non-null  float64
 5   Tot_Missed_Pmnt               42064 non-null  int64
 6   Age_Oldest_TL                 42064 non-null  int64
 7   Age_Newest_TL                 42064 non-null  int64
 8   time_since_recent_payment     42064 non-null  float64
 9   max_recent_level_of_deliq     42064 non-null  int64
 10  num_sub                       42064 non-null  int64
 11  num_sub_6mts                  42064 non-null  int64
 12  num_sub_12mts                 42064 non-null  int64
 13  num_dbt                       42064 non-null  int64
 14  num_lss                       42064 non-null  int64
 15  recent_level_of_deliq         42064 non-null  int64
 16  time_since_recent_enq         42064 non-null  float64
 17  AGE                           42064 non-null  int64
 18  NETMONTHLYINCOME              42064 non-null  int64
 19  Time_With_Curr_Empr           42064 non-null  int64
 20  pct_opened_TLs_L6m_of_L12m    42064 non-null  float64
 21  CC_Flag                       42064 non-null  int64
 22  PL_Flag                       42064 non-null  int64
 23  HL_Flag                       42064 non-null  int64
 24  GL_Flag                       42064 non-null  int64
 25  Credit_Score                  42064 non-null  int64
 26  EDUCATION                     42064 non-null  int64
 27  Approved_Flag                 42064 non-null  object
 28  MARITALSTATUS_Married         42064 non-null  bool
 29  MARITALSTATUS_Single          42064 non-null  bool
 30  GENDER_F                      42064 non-null  bool
 31  GENDER_M                      42064 non-null  bool
 32  last_prod_enq2_AL             42064 non-null  bool
 33  last_prod_enq2_CC             42064 non-null  bool
 34  last_prod_enq2_ConsumerLoan   42064 non-null  bool
 35  last_prod_enq2_HL             42064 non-null  bool
 36  last_prod_enq2_PL             42064 non-null  bool
 37  last_prod_enq2_others         42064 non-null  bool
 38  first_prod_enq2_AL            42064 non-null  bool
 39  first_prod_enq2_CC            42064 non-null  bool
 40  first_prod_enq2_ConsumerLoan  42064 non-null  bool
 41  first_prod_enq2_HL            42064 non-null  bool
 42  first_prod_enq2_PL            42064 non-null  bool
 43  first_prod_enq2_others        42064 non-null  bool
dtypes: bool(16), float64(7), int64(20), object(1)
memory usage: 9.9+ MB

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_recall_fscore_support

In [10]:
y = df_encoded['Approved_Flag']
X = df_encoded. drop( ['Approved_Flag'], axis = 1 )


x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rf_classifier = RandomForestClassifier(n_estimators = 200, random_state=42)
rf_classifier.fit(x_train, y_train)
y_pred = rf_classifier.predict(x_test)



accuracy = accuracy_score(y_test, y_pred)
print ()
print(f'Accuracy: {accuracy}')
print ()
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred)


for i, v in enumerate(['p1', 'p2', 'p3', 'p4']):
    print(f"Class {v}:")
    print(f"Precision: {precision[i]}")
    print(f"Recall: {recall[i]}")
    print(f"F1 Score: {f1_score[i]}")
    print()

Accuracy: 0.9948888624747415

Class p1:
Precision: 0.9657142857142857
Recall: 1.0
F1 Score: 0.9825581395348837

Class p2:
Precision: 0.9986144101346002
Recall: 1.0
F1 Score: 0.9993067247697336

Class p3:
Precision: 1.0
Recall: 0.9675471698113207
F1 Score: 0.9835059455312619

Class p4:
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

In [14]:
xgb_classifier = XGBClassifier(objective='multi:softmax',  num_class=4)



y = df_encoded['Approved_Flag']
x = df_encoded. drop ( ['Approved_Flag'], axis = 1 )


label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)


x_train, x_test, y_train, y_test = train_test_split(x, y_encoded, test_size=0.2, random_state=42)




xgb_classifier.fit(x_train, y_train)
y_pred = xgb_classifier.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print ()
print(f'Accuracy: {accuracy:.2f}')
print ()

precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred)

for i, v in enumerate(['p1', 'p2', 'p3', 'p4']):
    print(f"Class {v}:")
    print(f"Precision: {precision[i]}")
    print(f"Recall: {recall[i]}")
    print(f"F1 Score: {f1_score[i]}")
    print()

Accuracy: 1.00

Class p1:
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

Class p2:
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

Class p3:
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

Class p4:
Precision: 1.0
Recall: 1.0
F1 Score: 1.0